@model EnclosureDto
@{
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Enclosure</h2>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Size</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Size" />
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Climate</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Climate">
                        @foreach (var climate in Enum.GetValues(typeof(ZooEnums.Climate)))
                        {
                            <option value="@climate">@climate</option>
                        }
                    </select>
                    <span asp-validation-for="Climate" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Habitat</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Habitat">
                        @foreach (var habitat in Enum.GetValues(typeof(ZooEnums.HabitatType)))
                        {
                            <option value="@habitat">@habitat</option>
                        }
                    </select>
                    <span asp-validation-for="Habitat" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">SecurityLevel</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="SecurityLevel">
                        @foreach (var security in Enum.GetValues(typeof(ZooEnums.SecurityLevel)))
                        {
                            <option value="@security">@security</option>
                        }
                    </select>
                    <span asp-validation-for="SecurityLevel" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Enclosure</label>
                <div class="col-sm-8">
                    @if(ViewBag.EmptyAnimals != null)
                    {
                        @foreach (var animal in ViewBag.EmptyAnimals)
                        {
                            <div>
                                <input type="checkbox" id="@animal.AnimalId" name="SelectedAnimals" value="@animal.AnimalId" />
                                <label for="@animal.AnimalId">@animal.Name</label>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-primary" asp-controller="Enclosure" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

