@model List<Enclosure>
@{
}

<h2 style="text-align: center;" class="display-4">These are your enclosures</h2>

<div style="height: 50px;"></div>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Enclosure" asp-action="Create">New Enclosure</a>
    </div>
    <div class="col">

    </div>
</div>

<table class="table"> <!--Enclosure index-->
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Size</th>
            <th>Climate</th>
            <th>Habitat</th>
            <th>SecurityLevel</th>
            <th>Animals</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var enclosure in Model)
        {
            <tr>
                <td>@enclosure.EnclosureId</td>
                <td>@enclosure.Name</td>
                <td>@enclosure.Size</td>
                <td>@enclosure.Climate</td>
                <td>@enclosure.Habitat</td>
                <td>@enclosure.SecurityLevel</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-controller="Enclosure" asp-action="EnclosureAnimals" 
                    asp-route-enclosureId="@enclosure.EnclosureId">Bekijk Dieren</a>
                </td>    
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Enclosure" asp-action="Edit"
                    asp-route-id="@enclosure.EnclosureId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Enclosure" asp-action="Delete"
                    asp-route-id="@enclosure.EnclosureId" onclick="return confirm('Are you Sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

    